*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdfe6;
  border-radius: 3px;
  
  &:hover {
    background-color: #c0c4cc;
  }
}

::-webkit-scrollbar-track {
  background-color: #f5f7fa;
}

.scrollbar-8{
  /* // 内容区域滚动条 */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 4px;
    
    &:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }

}

.scrollbar-6{
  /* // 自定义滚动条 */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 3px;
    
    &:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }
}

.scrollbar-4{
  /* // 自定义滚动条 */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 2px;
    
    &:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }
}